<footer class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p style="color: white">Let's connect on social networks</p>                               
                <a style="color: white" href="https://twitter.com/rquattrogtl" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                <a style="color: white" href="" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
                <a style="color: white" href="https://github.com/r4gtl" target="_blank"><i class="fa fa-github"></i> Github</a>                
            </div>
        </div>

    </div>
    <p class="m-0 text-light text-center ">Copyright &copy; R4gtl</p>
    
</footer>


