{% block sidebar %}
{% load static %}


<!-- Sidebar Widgets Column -->
<style>
.sidebar {
    font-size: 12px;
}
</style>
<div class="col-md-3 float-right sidebar">
<div class="card my-3 ms-4">
    <img src="{% static 'img/Me.jpg' %}" class="card-img-top" alt="...">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> This is the place where I write down what I learn.</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">whoami</a>
    </div>
</div>
<div class="card my-3 ms-4">
    <img src="{% static 'img/Octocat.jpg' %}" class="card-img-top" alt="...">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> How to start a git repository</p>
        <p class="card-text">$ git config --global user.name "Your Name"</p>
        <p class="card-text">$ git config --global user.email "you@youraddress.com"</p>
        <p class="card-text">$ git config --global push.default matching</p>
        <p class="card-text">$ git config --global alias.co checkout</p>
        <p class="card-text">$ git init</p>

        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">whoami</a>
    </div>
</div>
</div>

{% endblock sidebar %}