{% block sidebar %}
{% load static %}


<!-- Sidebar Widgets Column -->
<style>
.sidebar {
    font-size: 12px;
}
</style>
<div class="col-md-3 float-right sidebar">
    {% for post_fixed in queryset_fixed %}
<div class="card my-3 ms-4">
    <img src="{{ post.logo_post.url }}" class="card-img-top" style="max-width:100%; max-height: 100px;">
                <div class="card-body">
                    <a href="{% url 'category' post.category_id  %}"><p class="card-text text-muted">{{ post.category }}</p></a>                    
                    <h2 class="card-title">{{ post.title|slice:":14" }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <!--<p class="card-text">{{post.content|slice:":200" }}</p>-->
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
</div>
    {% endfor %}
</div>

{% endblock sidebar %}